.sectstyle{
    text-align: center;
    position: absolute;
    left: 35%;
    background: transparent;
    background: rgba(224, 147, 160, 0.5);
    width: 500px;
    justify-content: center;
}
.h1s{
    color: rgb(158, 24, 211);
    font-style: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 2px #999;
    z-index: 2;
}
body{
    background-image: url(yeppie.jfif);
    background-size: 205vh 50vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}
#ext{
    background: linear-gradient(45deg, #38adc2, #5816c2, #ebe711);
    font-size: 24px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#cont{
    color: #1e4b58;
}
.features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .feature-tik {
    padding-top: 30px;
    color: rgb(47, 47, 150);
  }
  
  .feature-tac {
    padding-top: 30px;
    color: antiquewhite; 
  }
  
  .feature-nia {
    padding-top: 30px;
    color: rgb(134, 30, 30);
  }
  .skills-list {
    padding: 0;
    list-style: none;
  }
  .skills-item {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #c4c4c4;
    color: #2d7520;
  }
  
  .standard {
    border-color: #ffc5b3;
    color: #1212eb;
  }
  .vip{
    border-color: #c6f300;
    color: #ff0101;
  }
  .site-footer {
    display: flex;
    justify-content: space-between;
    color: #999999;
  }
  #btn_health{
    color: #c6f300;
    background-color: orange;
    border-radius: 10%;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
  }
#p_health{
  font-family: 'Comic Sans Ms';
  font-size: 20px;
}
#screamer {
  width: 100vw;
  height: 100vh;
  background-image: url(kys.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
  position: fixed; /* Фіксована позиція */
  inset: 0; /* Вирівнює до всіх країв */
  z-index: 9999; /* Максимальний пріоритет */
  opacity: 0;
  transition: opacity 0.5s;
}
section{
  z-index: 5;
}
#flash{
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s;
}
#countjd{
  background-color: #ff03c8;
  width: 160px;
  height: 30px;
  justify-content: center;
  position: relative;
  bottom: 15px;
  right: 15px;
}
#BuyTheThingy{
  position: relative;
  left: 15px;
  bottom: 15px;
}
#saver{
  width: 100vw;
  height: 100vh;
  background-image: url(totem-of-undying-faked-death.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none; 
  position: absolute;
  z-index: 10;
  position: fixed;
}
#part2{
  display: none;
}
#Morshu{
  width: 380px;
  height: 240px;
  position: absolute;
  background-image: url(giphy.gif);
  top: 1100px;
  left: 1100px;
  display: none;
}
.images{
    width: 300px;
    height: 300px;
}
.arrows{
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(arrow.png);
  background-size: 100% 100%;
}
#leftarrow{
  rotate: 180deg;
  right: 360px;
  bottom: 0px;
}
#imagero{
  background-image: url(health.jpg);
  background-size: 100% 100%;
  position: relative;
  left:100px;
}
#rightarrow{
  left: 410px;
  bottom: 0px;
}
#intsca{
  width: 450px;
  height: 300px;
  position: relative;
}
#test{
  width: 50px;
  height: 50px;
  background-color: #1212eb;
}
#scene {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: 10000px;
  background-color: #00e1ff;
}